<!DOCTYPE html>

<html>

    <head>

        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>

    </head>

    <body>

        <h1>Bye bye camarade {{ nom }} !</h1>

        

        <p>

            Le "Bye bye camarade {{ nom }} !" <b>n'est pas</b> un grand classique en programmation.

            Mais il signifie énormément, car cela veut dire que vous avez

            réussi à exécuter le programme pour accomplir une tâche simple :

            afficher ce "Bye bye camarade {{ nom }} ! " !

        </p>

    </body>

</html>